ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e3fdfd;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



li a:hover {
  background-color: orange;
}

body{
  background-color: #b19cd9;
}
h1{
  font-size: 48px;
  font-family:cursive;
  text-align: center;
}

h3{
  font-size: 24px;
  font-family:cursive;
  text-align: left;
}
#nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: yellow;
  text-align: center;
}

p{
  font-style: italic;
  font-family:cursive;
}

h4
{
  font-size: 20px;
  font-family:cursive;
  text-align: left;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.container {
  padding: 16px;
  margin-right : 520px;
  margin-left: 500px;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 10px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

#u {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 10px 10px;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
}
#i{
  width: 10%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
